<h1>Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, tasks_path(task) %> <%= link_to "Edit", tasks_new_path(task) %> <%= link_to "Destroy", tasks_path(task), method: :destroy , data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to "Create a new task", tasks_new_path %>

